body {
    background: #ffffff;
    font-weight: 600;
    padding: 0 0px;
    margin: 0;
}

p {
    margin: 0;
}

// mass class

.defolt-box {
    border: 1px solid #cacaca;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    color: #828385;
    position: relative;
    h4{
        margin: 0;
        margin-bottom: 8px;
        color: #111;
    }
}

.half-box {
    width: 43.5%;
}

// menu 2 dubl arrow 

.dubl-arrow-menu {
    background-color: rgba(56, 136, 241, 0.288);
    display: flex;
    padding: 0px 8px;
    border-radius: 8px;
    justify-content: space-evenly;
    margin-left: 5px;
    img{
        width: 13px;
    }
}


// menu 3 circle 

.three-dots-menu {
    background-color: rgba(56, 136, 241, 0.288);
    display: flex;
    padding: 8px 5px;
    border-radius: 8px;
    justify-content: space-evenly;
}


 
  .circle  {
    background-color: rgb(56, 136, 241) !important;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    outline: none;
    margin: 0 2px;
  }

  

//   Hidden menu 3 circle

.hidden-three-circles-menu {
    background-color: #2a3139;
    display: inline-block;
    border-radius: 8px;
    color: #fff;
}




.hidden-three-circles-menu-item {
    align-items: center;
    display: flex;
    justify-content: flex-start; 
    padding: 11px 15px;
    img {
        width: 17px;
        margin-right: 10px;
    }
}





// mass class

#primary-container{
 flex: 1 1 auto;
 overflow-y: auto;
 padding: 0 10px;
}

#app-root-component{
   display: flex;
   height: 100vh;
   flex-direction: column;
}

.top-title {
    color: #111;
    margin: 5px 0 10px 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
}




.main-top {
    border-bottom: 1px solid #cacaca;
    flex: 0 0 4%;
    width: 100%;
    background-color: #f0f0f0fd;
}


.profile-logo {
    display: flex;
    padding: 20px 0;
    img {
        padding-right: 10px;
    }
}

.workout-day {
    position: relative;
}


.pro-open {
    text-align: center;
    background-color: rgba(56, 136, 241, 0.288);
    padding: 10px;
    border-radius: 8px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.charts-analytics {
    text-align: center;
    padding-bottom: 0px;
    padding: 0;
    img{
        width: 21px;
        padding: 5px;
    }
}


.pro-function {
    background-color: #adaef7;
    padding: 10px;
    border-radius: 8px;
    color: #111;
    text-align: center;
}


// History История начало 
.history-time-weight-best{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.indicator{
    display: flex;
    align-items: center;
    img{
        width: 20px;
        height: 20px;
        padding-right: 9px;
    }
}

.exercises-bestset{
    display: flex;
    justify-content: space-around;
}





// History История конец 

// Workout История начало

.wrap-half-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.last-use-workout {
    display: flex;
    align-items: center;
    img{
        width: 14px;
        margin-right: 5px;
    }
}


// Workout История конец 



// Exercises Упражнения начало

input{
    padding: 10px;
    background-color: #f0f0f0fd;
    border: none;
    border-radius: 8px;
    width: 100%;
    // background-image: url(img/SVG/pro-servise.svg);   
    // background-repeat: no-repeat;  
    // background-position: 4px;  
    &:focus {
        outline: 0;
        outline-offset: 0;
    }
   #type{
    
   }
}




.list:last-child{
     border-bottom: 1px solid #828385;
}


.list-training{
    display: flex;
    align-items: center;
    border-top: 1px solid #828385;
    // border-bottom: 1px solid #828385;
    padding: 5px 0;
    img{
        width: 30px;
        padding-right: 10px;
    }
}

.alphabet{
    color: #828385;
    padding-top: 20px;
}



.name-exercises{
    width: 100%;
    line-height: 24px;
}

.indicator-body{
    display: flex;
    justify-content: space-between;
    color: #828385;
}

// hiden box Начало
.exercises-hidden-box {
    padding: 10px;
    border: 1px solid #111;
    border-radius: 8px;
}

.head-hidden-box{
    display: flex;
    justify-content: space-between;
}



.nav-hidden-box{
    padding: 17px 0;
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 7px 0;
        margin: 0;
        background-color: #dbdbdbfd;
        border-radius: 8px;
        align-items: center;
    }
    a{
        border-right: 1px solid black;
        padding-right: 13px;
        font-size: 18px;
        text-decoration: none;
        color: #111;
    }
    ul li:last-child a{
        border-right: none;
    } 
}


.defolt-hidden-box-video{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #111;
    border-radius: 8px;
    img{
        width: 70%;
    }
}

.instruction-hidden-box{
    padding-top: 22px;
    li{
        padding: 10px 0;
    }
}


.exit-hidden-box{
    padding-right: 10px;
    background-color: #111;
}


.name-plus-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    display: flex;
}

.all-time-schedule::before  {
    content: "";
    width: 89%;
    height: 1px;
    background-color: #cacaca;
    vertical-align: middle;
    margin-right: 2px;
    display: inline-block;
  }
// hiden box Конец


// Exercises Упражнения конец


// bottom nav НАЧАЛО

.bottom-nav {
    background-color: #2a3139;
    box-shadow: 0px -3px 10px rgba(0,0,0,0.45);
    flex: 0 0 8%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    p{
        color: #fff;
    
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }

}


.icon-bottom  {
    text-align: center;
    opacity: 0.2;
    transition: all 0.35s linear;
    a{
        color: #fff;
        text-decoration: none;
    }
    img{
        width: 28px;
        height: 28px;
    }
    &:hover{
        opacity: 1;
    }
}

.wrap-img-bottom{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}



// bottom nav КОНЕЦ
